# **I. Pull data from remote server and save locally**

## Import modules

In [1]:
import os
import psycopg2

## Connect to psql database and fetch the tables

In [ ]:
# Connection details
db_config = {
    "host": "localhost",
    "database": "sensor_data",
    "user": "sensorbox_readonly",
	"port": 15432,
    "password": os.getenv('DB_PASSWORD')  # Get the password from the environment variable
}

# Connect to the PostgreSQL database and fetch the tables
try:
    conn = psycopg2.connect(**db_config)
    cursor = conn.cursor()
    print("Connected to the database")
    
    tables = ('airqsensordata', 'device_mapping', 'trafficsensordata', 'noisesensordata')

    for table in tables:
        with open(f'{table}.csv', mode='w', newline='') as f:
            cursor.copy_expert(sql=f"COPY (SELECT * FROM {table}) TO STDOUT WITH CSV HEADER", file=f)
    
    print("Data saved locally.")

except Exception as e:
    print(f"Error: {e}")

finally:
    # Close the connection and cursor
    if conn:
        cursor.close()
        conn.close()
        print("Connection closed.")

Connected to the database
Data saved to locally.
Connection closed.

# **II. Data exploration and summary statistics**

## Import modules

In [13]:
import pandas as pd

In [43]:
df = pd.read_csv("./airqsensordata.csv")
df.head()

,id,imei,msgid,timestamp,p01,p02,p04,p10,hum,tmp,voc,nox,vaq
0,1,865583044308913,44739,2025-02-07 07:59:24+00,19.1,23.0,25.5,26.7,63.30,4.71,0,0,1
1,2,865583044308913,44743,2025-02-07 08:00:26+00,14.8,19.7,23.1,24.9,63.45,4.72,0,0,1
2,3,865583044308913,44747,2025-02-07 08:01:27+00,16.7,20.5,23.0,24.2,62.62,4.72,0,0,1
3,4,865583044308913,44751,2025-02-07 08:02:29+00,14.7,18.0,20.1,21.2,63.29,4.72,0,0,1
4,5,865583044308913,44756,2025-02-07 08:03:30+00,13.0,16.4,18.7,19.8,63.43,4.75,0,0,1

In [44]:
df.describe()

,id,imei,msgid,p01,p02,p04,p10,hum,tmp,voc,nox,vaq
count,786301.000000,7.863010e+05,786301.000000,786301.000000,786301.000000,786301.000000,786301.000000,786301.000000,786301.000000,786301.000000,786301.0,786301.000000
mean,393225.489824,8.655830e+14,19468.914214,12.146586,13.964156,15.003506,15.491798,59.453559,19.208991,0.000017,0.0,0.987628
std,227011.097675,7.749013e+05,23843.403760,30.776855,32.567502,33.776576,34.457656,15.376531,9.884151,0.004066,0.0,0.110539
min,1.000000,8.655830e+14,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-7.110000,0.000000,0.0,0.000000
25%,196654.000000,8.655830e+14,3207.000000,2.600000,3.500000,3.900000,4.100000,46.530000,12.640000,0.000000,0.0,1.000000
50%,393229.000000,8.655830e+14,10338.000000,7.800000,9.000000,9.700000,10.000000,60.680000,15.930000,0.000000,0.0,1.000000
75%,589804.000000,8.655830e+14,27071.000000,17.100000,19.300000,20.600000,21.200000,72.740000,29.220000,0.000000,0.0,1.000000
max,786410.000000,8.655830e+14,141648.000000,6553.400000,6553.400000,6553.400000,6553.400000,94.270000,39.540000,1.000000,0.0,1.000000